@model StudentEnrollment.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="card">
        <div class="card-header">
            <h4>Information for @Html.DisplayFor(model => model.Name)</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CPF)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CompletionDate)
                </dt>
                <dd class="col-sm-9">
                    @Model.CompletionDate.ToString("dd/MM/yyyy")
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>